* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* General Styles */
html, body {
	padding: 0;
	margin: 0 auto;
}

h2, h3 {
	text-transform: lowercase;
	font-family: 'Sulphur Point', sans-serif;
}

h1 {
	font-family: 'Sulphur Point', sans-serif;
	font-style: italic;
	color: #A60303;
	font-size: 45px;
	font-weight: 700;
	text-align: left;
	margin-left: 5vh;
	padding-top: 5vh;
}


/* Header */
.content-wrapper {
	height: 100vh;
	text-align: center;
	background-image: url(resources/images/header.jpg);
	background-size: cover;
}

.title-one {
	font-family: 'Roboto', sans-serif;
	font-size:30px;
	color:whitesmoke;
	margin-top: 6vh;
	text-align: center;
}

.title-two {
	font-family: 'Sulphur Point', sans-serif;
	font-size: 68px;
	font-weight: 700;
	color:whitesmoke;
	margin-top: 8vh;
	margin-bottom: 2vh;
	text-align: center;
}

/* Text Input */
.search-box {
	margin-bottom: 2vh;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

input[type=text] {
	background-color: rgba(245, 245, 245, 0.459);
	width: 300px;
    padding: 10px;
	border-radius: 3px;
}


/* Diet Options */

.option {
	color: white;
	font-family: 'Sulphur Point', sans-serif;
	font-size: 16px;
	font-weight: 700;
  	display: inline-block;
	width: 100px;
	text-align: center;
	background-size: cover;
	opacity: 0.5;
	border-radius:8px;   
	padding: 2vh;
	margin: 1vh;
	cursor: pointer;
}

.option:hover {
  opacity: 1;
}

#option-1 {
  background-image: url(resources/images/popular.jpg);
}

#option-2 {
  background-image: url(resources/images/vegetarian.jpg);
}

#option-3 {
  background-image: url(resources/images/vegan.jpg);
}

#option-4 {
  background-image: url(resources/images/gluten-free.jpg);
}

#option-5 {
  background-image: url(resources/images/peanut-free.jpg);
}

/* Submit Button */
input[type=submit] {
	background-color: rgb(160, 53, 53);
	border: none;
	color: white;
	font-family: 'Sulphur Point', sans-serif;
	font-weight: 700;
	width: 230px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 15px;
	font-size: 20px;
	margin-top: 5vh;
	outline: none;
}

input[type=submit]:hover,
input[type=submit]:active {
	background-color: #A60303;
}

/* Results Section */
.epicook-container{
	height: 100vh;
	background-image: linear-gradient(to bottom right, rgba(166, 3, 3, 0.527), rgba(45, 115, 34, 0.863));
	overflow: scroll;
	width: 100%;
}

/* Recipes Results  */
.recipes {
	padding: 5% 20%;
	margin: 0 auto;	
}

.recipe-box {
	float: left;
	width: 300px;
	margin: 7%;
}

.recipe-title {
	text-align: center;
	padding: 30px 30px;
	margin: 0 auto;
	height: 35px;
	font-size: 20px;
	background: rgba(166, 3, 3, 0.705);
	color: whitesmoke;
}

.recipe-image {
	background-size: cover;
	display: block;
	padding: 0;
	margin: 0 auto;
}

.recipe-calories {
	text-align: center;
	font-style: italic;
	font-size: 18px;
	padding: 20px;
	background: rgba(191, 154, 132, 0.808);
	color: black;
}

/* No Results Found */

.error-message {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	margin: 2vh auto;
	color: #A60303;
	background-color: white;
	border-radius: 10px;
	width: 40vh;
}


.alert-box {
	width: 80vh;
	height: auto;
	margin: auto;
	margin-top: 25vh;
	background-color: rgba(217, 22, 4, 0.404);
	text-align: center;
	padding: 70px 0;
}

.not-found-title {
	font-size: 30px;
}

.not-found-message {
	margin-top: 4vh;
	font-size: 20px;
}

/* Footer */
.footer {
	position: inherit;
	font-family: 'Sulphur Point', sans-serif;
	/* left: 0;
	bottom: 0; */
	height: 50px;
	color: white;
	background-color: #262624;
	text-align: center;
	padding: 20px 20px;
}

.made-with {
	font-size: 16px;
	margin: 0;
	margin-bottom: 10px;
}

.icon {
    width: 15px;
    color: rgb(180, 47, 47);
    line-height: 120%;
    vertical-align: middle;
    margin-top: -2px;
}

.data-courtesy {
	font-size: 18px;
	margin: 0;
}