* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* General Styles */
html, body {
	padding: 0;
	margin: 0 auto;
}

h1, h2, h3 {
	text-transform: lowercase;
	font-family: 'Sulphur Point', sans-serif;
}

h1 {
	font-style: italic;
	color: #BF0426;
	font-size: 65px;
	font-weight: 700;
	text-align: center;
	text-shadow: 3px 3px 3px #A9BF04;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color:rgb(226, 128, 7);
	margin: 15px;
}

/* Header - User Inputs */
.content-wrapper {
	height: 100vh;
	text-align: center;
	background-color: #D5EFF2;
}

.choices {
	margin-bottom: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

input[type=radio] {
	margin: 20px;
}

input[type=submit] {
	background-color: #A9BF04; 
	border: none;
	color: white;
	font-family: 'Sulphur Point', sans-serif;
	font-weight: 700;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	font-size: 25px;
}

/* Recipe Results Section */
.epicook-container{
	height: 100vh;
	background-image: url(dan-gold-5O1ddenSM4g-unsplash.jpg);
	background-size: cover;
	overflow: scroll;
	width: 100%;
}

.recipes {
	/* position: relative;		 */
	padding: 0 50px;
	margin: 0 auto;	
	padding: 60px 80px;
}

.recipe-box {
	float: left;
	width: 300px;
	margin: 62px;
}

.recipe-title {
	text-align: center;
	padding: 30px 30px;
	margin: 0 auto;
	height: 35px;
	font-size: 20px;
	background: rgba(169, 191, 4, 0.692);
	color: whitesmoke;
}

.recipe-image {
	background-size: cover;
	display: block;
	padding: 0;
	margin: 0 auto;
}

.recipe-calories {
	text-align: center;
	font-style: italic;
	font-size: 18px;
	padding: 20px;
	background: rgba(245, 245, 245, 0.692);
	color: black;
}


/* Footer */
.data-courtesy {
	margin: 20px;
	font-family: 'Sulphur Point', sans-serif;
	font-size: 18px;
	color: gray;
	text-align: center;
}